#block-style{
    margin-top: 20px;
    background-color: azure;
    border: 1px solid black;
    border-radius: 10px;
}
#block-style{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}
#circle-style{
    margin-top: 10px;
}